# File I/O
([Back to Overview](../index.html#/0/3))

## Interacting with the Filesystem

In [3]:
@__DIR__

"/Users/blaschke/Developer/hpc-julia/docs/julia for data science/01_data"

In [4]:
data_directory = joinpath(@__DIR__, "..", "..", "..", "exercises", "covid", "data")

"/Users/blaschke/Developer/hpc-julia/docs/julia for data science/01_data/../../../exercises/covid/data"

In [5]:
temp_directory = mktempdir()

"/var/folders/gy/fk8y1bkd5b78l0n687jwhzkc0029yh/T/jl_ncdHkM"

## Read and Writing to Files Directly

In [53]:
a = [4, 2, 3]

3-element Vector{Int64}:
 4
 2
 3

In [54]:
readdir(temp_directory)

String[]

In [55]:
write(joinpath(temp_directory, "a.dat"), a)

24

In [56]:
readdir(temp_directory)

1-element Vector{String}:
 "a.dat"

In [59]:
read(joinpath(temp_directory, "a.dat"), Int64)

4

In [60]:
read(joinpath(temp_directory, "a.dat"), String)

"\x04\0\0\0\0\0\0\0\x02\0\0\0\0\0\0\0\x03\0\0\0\0\0\0\0"

In [61]:
open(joinpath(temp_directory, "a.dat"), "r") do io
    while !eof(io)
        print(read(io, Int64), ",")
    end
end

4,2,3,

## JSON

https://github.com/JuliaIO/JSON.jl

In [62]:
using JSON

In [63]:
d = Dict(
    "a"=>1,
    "b"=>"hello"
)

Dict{String, Any} with 2 entries:
  "b" => "hello"
  "a" => 1

In [64]:
json(d)

"{\"b\":\"hello\",\"a\":1}"

In [65]:
write(joinpath(temp_directory, "d.json"), json(d))

19

In [66]:
d_string = read(joinpath(temp_directory, "d.json"), String)

"{\"b\":\"hello\",\"a\":1}"

In [67]:
JSON.parse(d_string)

Dict{String, Any} with 2 entries:
  "b" => "hello"
  "a" => 1

## CSV

https://csv.juliadata.org/stable/

In [6]:
readdir(data_directory)

1-element Vector{String}:
 "total-covid-cases-deaths-per-million.csv"

In [7]:
using DataFrames
using CSV

In [10]:
df = DataFrame(name=String[], age=Float64[], coffees=Int64[])

0×3 DataFrame

In [11]:
push!(df, ("Johannes", 36.5, 10))

1×3 DataFrame
 Row │ name      age      coffees
     │ String    Float64  Int64
─────┼────────────────────────────
   1 │ Johannes     37.5       10

In [12]:
push!(df, ("Christin", 34.1, 2))

2×3 DataFrame
 Row │ name      age      coffees
     │ String    Float64  Int64
─────┼────────────────────────────
   1 │ Johannes     37.5       10
   2 │ Christin     34.1        2

In [18]:
CSV.write(joinpath(temp_directory, "coffee.csv"), df)

"/var/folders/gy/fk8y1bkd5b78l0n687jwhzkc0029yh/T/jl_ncdHkM/coffee.csv"

In [19]:
readdir(temp_directory)

1-element Vector{String}:
 "coffee.csv"

In [20]:
open(joinpath(temp_directory, "coffee.csv")) do io
    for line in readlines(io)
        println(line)
    end
end

name,age,coffees
Johannes,37.5,10
Christin,34.1,2

In [23]:
CSV.File(joinpath(temp_directory, "coffee.csv"))

2-element CSV.File:
 CSV.Row: (name = "Johannes", age = 37.5, coffees = 10)
 CSV.Row: (name = "Christin", age = 34.1, coffees = 2)

In [24]:
CSV.File(joinpath(temp_directory, "coffee.csv")) |> DataFrame

2×3 DataFrame
 Row │ name      age      coffees
     │ String15  Float64  Int64
─────┼────────────────────────────
   1 │ Johannes     37.5       10
   2 │ Christin     34.1        2